.nav_ber {
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 50px;
}
.my_menu {
  margin-right: 50px;
}
.my_menu > ul {
  display: flex;
}

.my_menu > ul > li {
  list-style: none;
}

.my_menu > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-right: 2px solid black;
  padding: 10px 20px;
}

.my_menu > ul > li:first-child > a {
  border-left: 2px solid black;
}

.my_menu > ul > li:hover > a {
  background-color: yellow;
  color: black;
  
}

.dropdown_Menu {
  opacity: 0;
  visibility: hidden;
  background-color: rgb(242, 255, 0);
  text-align: center;
  margin-top: 30px;
  width: 100px;
  position: absolute;
  transition: 0.9s;
}

.dropdown_Menu > li {
  list-style: none;
  padding: 20px 0;
  font-size: 20px;
  /* border-bottom: 2px solid black; */
}
.dropdown_Menu > li > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}



.my_menu > ul > li:hover > ul {
  opacity: 1;
  transition: 0.9s;
  visibility: visible;
}
