.nav_ber {

    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.my_menu > ul{

    display: flex;
}

.my_menu > ul > li {

    list-style: none;

}

.my_menu > ul > li > a {

    text-decoration: none;
    color: white;
    font-size: 20px;
}